<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
<h1>Add Game</h1>
<form ng-submit="addgame()" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="winnername" class="col-md-4 control-label">Winner</label>
    <select id="winnername" class="nya-selectpicker" ng-model="winner" data-container="body" multiple>
      <option ng-repeat="player in players" value="{{player.name}}" showSubtext='true'>{{player.name}}: {{player.rating}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="winnerpoints" class="col-md-4 control-label">Points</label>
    <select id="winnerpoints" ng-model="winnerpoints" class="form-control" style="align: middle; width: 10%;"><option ng-repeat="n in [] | range:30">{{n}}</option></select>
  </div>
  <div class="form-group">
    <label for="losername" class="col-md-4 control-label">Loser</label>
    <select id="losername" class="nya-selectpicker" ng-model="loser" data-container="body" multiple>
      <option ng-repeat="player in players" value="{{player.name}}" showSubtext='true'>{{player.name}}: {{player.rating}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="loserpoints" class="col-md-4 control-label">Points</label>
    <select id="loserpoints" ng-model="loserpoints" class="form-control" style="align: middle; width: 10%;"><option ng-repeat="n in [] | range:30">{{n}}</option></select>
  </div>
  <!--<div class="form-group">-->
    <!--<label for="password" class="col-md-4 control-label">Password</label>-->
    <!--<div class="col-md-4" style="padding-left: 0px;">-->
      <!--<input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="password"/>-->
    <!--</div>-->
  <!--</div>-->
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8" style="padding-left: 0px;">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
