<h1>Add Game</h1>
<form ng-submit="addgame()" class="signup form-horizontal">
  <div class="form-group">
    <label for="winnername" class="col-md-4 control-label">Winner</label>
    <select id="winnername" class="nya-selectpicker" ng-model="winner" data-container="body" multiple>
      <option ng-repeat="player in players" value="{{player.name}}" showSubtext='true'>{{player.name}}: {{player.rating}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="losername" class="col-md-4 control-label">Loser</label>
    <select id="losername" class="nya-selectpicker" ng-model="loser" data-container="body" multiple>
      <option ng-repeat="player in players" value="{{player.name}}" showSubtext='true'>{{player.name}}: {{player.rating}}</option>
    </select>
  </div>
  <div class="form-group">
    <div class="col-md-offset-6 col-md-8">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
